<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="4030" id="com.mfc.airquality" version="0.4.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Air Quality</name>
    <description>Hybrid application for collecting Air Quality measurements to GeoKey.</description>
    <author email="info@mappingforchange.org.uk" href="http://mappingforchange.org.uk">Mapping for Change</author>
    <icon src="res/icons/default.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" version="^1.3.3" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="sensorPortrait" />
        <icon density="mdpi" src="res/icons/android/mdpi.png" />
        <icon density="hdpi" src="res/icons/android/hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png" />
    </platform>
    <engine name="browser" spec="~5.0.4" />
    <engine name="android" spec="~7.1.2" />
</widget>
