@cp-light: #ffffff;
@cp-dark: #262626;

@zindex-full-screen: 5000;
@zindex-message: 5100;
@zindex-cloak: 5200;

@full-screen-bg: @cp-light;
@full-screen-content-padding-vertical: 30px;
@full-screen-content-padding-horizontal: 30px;
