<div ng-show="data.locations">
  <div ui-view="subcontent"></div>

  <div ng-hide="viewport.history.currentState == 'locations.add'">
    <h3 class="clearfix">
      <span>Locations</span>
      <button type="button" class="btn btn-success pull-right" ng-click="state.redirect('locations.add')" ng-hide="viewport.history.currentState == 'locations.add'" ng-disabled="viewport.calling">Add new</button>
    </h3>

    <p class="lead text-center">
      <span ng-hide="locations.length">No locations added so far. Please add a location where you want to start your measurements. All locations are private and accessible only by the account holder.</span>
      <span ng-show="locations.length">Choose a location to manage your existing measurements or start new ones.</span>
    </p>

    <div class="list-group">
      <a href="#" class="list-group-item" ng-click="$event.preventDefault(); state.goToLocation(location.id)" ng-repeat="location in locations = (data.locations|active) track by $index">
        <span class="badge">{{ location.measurements.length }}</span>
        <h4 class="list-group-item-heading">{{ location.name }}</h4>
        <span class="text-warning" ng-show="location.id.indexOf('x') > -1">Location has not been synced yet</span>
        <span class="list-group-item-text help-block">Added <time datetime="{{ location.created }}" am-time-ago="location.created"></time></span>
      </a>
    </div>
  </div>
</div>
