<div ng-show="data.location" ng-swipe-right="state.redirect('locations')">
  <h3>{{ data.location.name }}</h3>

  <div id="map" ng-show="viewport.online"></div>

  <div class="row">
    <div class="col-sm-5" ng-show="data.location.properties.height || data.location.properties.distance || data.location.properties.characteristics">
      <h4>Properties</h4>

      <div ng-show="data.location.properties.height">
        <label>Height from ground</label>
        <p>{{ data.location.properties.height }}m</p>
      </div>

      <div ng-show="data.location.properties.distance">
        <label>Distance from road</label>
        <p>{{ data.location.properties.distance }}m</p>
      </div>

      <div ng-show="data.location.properties.characteristics">
        <label>Site characteristics</label>
        <p ng-bind-html="data.location.properties.characteristics | newline"></p>
      </div>
    </div>

    <div class="col-xs-12 visible-xs" ng-show=" data.location.properties.height || data.location.properties.distance || data.location.properties.characteristics">
      <hr />
    </div>

    <div class="col-sm-12" ng-class="{'col-sm-7': data.location.properties.height || data.location.properties.distance || data.location.properties.characteristics}">
      <h4>Start new measurement</h4>

      <p>Enter barcode displayed on the diffusion tube.</p>

      <form role="form" id="form-measurement-add" ng-submit="start()" novalidate="novalidate">
        <div ng-form="formGroup.form">
          <div ng-form="BarcodeField" class="form-group" ng-class="{'has-error': measurement.error.api || (BarcodeField.$dirty && BarcodeField.$invalid)}">
            <label for="form-measurement-barcode">Barcode</label>
            <span class="help-block text-center" ng-if="BarcodeField.$dirty && BarcodeField.$error.required">Please enter the barcode of a diffusion tube in the field below</span>
            <span class="help-block text-center" ng-if="BarcodeField.$error.number || BarcodeField.$error.min">Barcode must be a valid number</span>
            <span class="help-block text-center" ng-if="BarcodeField.$error.maxlength">Barcode must consist of no more than 6 numbers</span>

            <div class="input-group">
              <input type="number" min="0" ng-maxlength="6" id="form-measurement-barcode" class="form-control" ng-model="measurement.barcode" ng-disabled="viewport.calling" required />

              <span class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-disabled="viewport.calling">Start</button>
              </span>
            </div>
          </div>
        </div>
      </form>

      <h4>Measurements</h4>

      <p class="lead text-center" ng-hide="measurements.length">No measurements started so far.</p>

      <ul class="list-group">
        <li class="list-group-item clearfix" ng-class="{'list-group-item-success': measurement.addResults}" ng-repeat="measurement in measurements = (data.location.measurements|active)">
          <div class="edit-wrapper" ng-click="edit(measurement)">
            <h5 class="list-group-item-heading">
              <span>Barcode: <strong>{{ measurement.barcode }}</strong></span>
              <span>(<i class="edit-button">click to edit</i>)</span>
            </h5>
            <h6 ng-show="measurement.submitted"><strong>{{ measurement.properties.results }} µg/m³</strong></h6>
            <span class="text-warning" ng-show="measurement.id.indexOf('x') > -1 || measurement.updated">Measurement has not been synced yet</span>

            <span class="list-group-item-text help-block">Started <time datetime="{{ measurement.started }}" am-time-ago="measurement.started"></time></span>
            <span class="list-group-item-text help-block" ng-show="measurement.finished">Finished <time datetime="{{ measurement.finished }}" am-time-ago="measurement.finished"></time></span>
            <span class="list-group-item-text help-block" ng-show="measurement.submitted">Submitted <time datetime="{{ measurement.submitted }}" am-time-ago="measurement.submitted"></time></span>
            <span class="list-group-item-text help-block" ng-hide="measurement.finished">
              <span ng-init="measurement.expires = (measurement.started | amAdd : '30' : 'days')"></span>
              <span ng-show="(measurement.expires|amDifference : null : 'seconds') < 0">Should have finished</span>
              <span ng-show="(measurement.expires|amDifference : null : 'seconds') >= 0">Should finish</span>
              <time datetime="{{ measurement.expires }}" am-time-ago="measurement.expires"></time>
            </span>
          </div>

          <div ng-form="formGroup.measurements[measurement.id].form" ng-show="measurement.addResults">
            <hr />

            <div ng-form="ResultsField" class="form-group" ng-class="{'has-error': measurement.error.api || (ResultsField.$dirty && ResultsField.$invalid)}">
              <label for="measurement-project">µg/m³</label>
              <span class="help-block text-center" ng-if="ResultsField.$dirty && ResultsField.$error.required">Please enter µg/m³ for this measurement in the field below</span>
              <span class="help-block text-center" ng-if="ResultsField.$error.number">µg/m³ must be a valid number</span>
              <span class="help-block text-center" ng-if="ResultsField.$error.min">µg/m³ can only be 0 or greater</span>
              <input type="number" min="0" id="measurement-results" class="form-control" ng-model="measurement.properties.results" ng-disabled="viewport.calling" required />
            </div>

            <div ng-form="ProjectField" class="form-group" ng-class="{'has-error': measurement.error.api || (ProjectField.$dirty && ProjectField.$invalid)}">
              <label for="measurement-project">Project</label>
              <span class="help-block text-center" ng-if="ProjectField.$dirty && ProjectField.$error.required">Please choose a project from the options below</span>
              <select id="measurement-project" class="form-control" ng-model="measurement.project" ng-options="project.id as project.name for project in data.projects" ng-disabled="viewport.calling" required>
                <option value=""></option>
              </select>
            </div>

            <div ng-form="AdditionalDetailsField" class="form-group" ng-class="{'has-error': measurement.error.api || (AdditionalDetailsField.$dirty && AdditionalDetailsField.$invalid)}">
              <label for="measurement-project">Additional details</label>
              <textarea id="measurement-additionaldetails" class="form-control" rows="4" ng-model="measurement.properties.additional_details" ng-disabled="viewport.calling"></textarea>
            </div>
          </div>

          <hr ng-show="measurement.addResults || !measurement.submitted" />

          <p class="text-right">
            <span ng-hide="measurement.addResults || measurement.submitted">
              <button type="button" class="btn btn-danger" ng-hide="measurement.addResults" ng-click="remove(measurement)" ng-disabled="viewport.calling">Remove</button>
              <button type="button" class="btn btn-primary" ng-hide="measurement.finished" ng-click="finish(measurement)" ng-disabled="viewport.calling">Finish now</button>
              <button type="button" class="btn btn-success" ng-show="measurement.finished" ng-click="addResults(measurement)" ng-disabled="viewport.calling">Add results</button>
            </span>

            <span ng-show="measurement.addResults && !measurement.submitted">
              <button type="button" class="btn btn-default" ng-show="measurement.addResults" ng-click="measurement.addResults = false" ng-disabled="viewport.calling">Cancel</button>
              <button type="button" class="btn btn-primary" ng-show="measurement.finished" ng-click="submit(measurement)" ng-disabled="viewport.calling">Submit measurement</button>
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-danger">
        <div class="panel-body">
          <p>Deleting a location removes all current measurements too. However, it does not remove measurements that have been finished and submitted to projects.</p>
          <p>This action cannot be undone.</p>
          <p class="text-right"><button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="viewport.calling">Delete this location</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
