<div ng-show="data.point">
  <button type="button" class="btn btn-sm btn-default" ng-click="state.redirect('points')" ng-disabled="viewport.calling">&#8592; Back to points</button>

  <h3>{{ data.point.name }}</h3>

  <div id="map" ng-hide="viewport.offline"></div>

  <div class="row">
    <div class="col-sm-5" ng-show="data.point.properties.height || data.point.properties.distance || data.point.properties.characteristics">
      <h4>Properties</h4>

      <div ng-show="data.point.properties.height">
        <label>Height from ground</label>
        <p>{{ data.point.properties.height }}m</p>
      </div>

      <div ng-show="data.point.properties.distance">
        <label>Distance from road</label>
        <p>{{ data.point.properties.distance }}m</p>
      </div>

      <div ng-show="data.point.properties.characteristics">
        <label>Site characteristics</label>
        <p ng-bind-html="data.point.properties.characteristics | newline"></p>
      </div>
    </div>

    <hr class="visible-xs" />

    <div class="col-sm-12" ng-class="{'col-sm-7': data.point.properties.height || data.point.properties.distance || data.point.properties.characteristics}">
      <h4>Measurements</h4>

      <form role="form" id="form-measurement-add" ng-submit="start()" novalidate="novalidate">
        <div ng-form="formGroup.form">
          <div ng-form="BarcodeField" class="form-group" ng-class="{'has-error': measurement.error.api || (BarcodeField.$dirty && BarcodeField.$invalid)}">
            <label for="form-measurement-barcode">Barcode</label>
            <span class="help-block text-center" ng-if="BarcodeField.$dirty && BarcodeField.$error.required">Please enter the barcode of a diffusion tube in the field below</span>
            <span class="help-block text-center" ng-if="BarcodeField.$error.number || BarcodeField.$error.min">Barcode must be a valid number</span>
            <span class="help-block text-center" ng-if="BarcodeField.$error.maxlength">Barcode must consist of no more than 6 numbers</span>

            <div class="input-group">
              <input type="number" min="0" ng-maxlength="6" id="form-measurement-barcode" class="form-control" ng-model="measurement.barcode" ng-disabled="viewport.calling" required />

              <span class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-disabled="viewport.calling">Start</button>
              </span>
            </div>
          </div>
        </div>
      </form>

      <p class="lead text-center" ng-hide="measurements.length">No measurements have been added so far</p>

      <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="measurement in measurements = (data.point.measurements|active)">
          <h5 class="list-group-item-heading">{{ measurement.barcode }}</h5>
          <h6 ng-show="measurement.submitted"><strong>{{ measurement.results }} µg/m³</strong></h6>
          <span class="text-warning" ng-show="measurement.id.indexOf('x') > -1 || measurement.updated">Measurement has not been synced yet</span>

          <span class="list-group-item-text help-block">Started <time datetime="{{ measurement.started }}" am-time-ago="measurement.started"></time></span>
          <span class="list-group-item-text help-block" ng-show="measurement.finished">Finished <time datetime="{{ measurement.finished }}" am-time-ago="measurement.finished"></time></span>
          <span class="list-group-item-text help-block" ng-show="measurement.submitted">Submitted <time datetime="{{ measurement.submitted }}" am-time-ago="measurement.submitted"></time></span>
          <span class="list-group-item-text help-block" ng-hide="measurement.finished">
            <span ng-init="measurement.expires = (measurement.started | amAdd : '30' : 'days')"></span>
            <span ng-show="(measurement.expires|amDifference : null : 'seconds') < 0">Should have finished</span>
            <span ng-show="(measurement.expires|amDifference : null : 'seconds') >= 0">Should finish</span>
            <time datetime="{{ measurement.expires }}" am-time-ago="measurement.expires"></time>
          </span>

          <div ng-form="formGroup.measurements[measurement.id].form" ng-show="measurement.addResults">
            <hr />

            <div ng-form="ResultsField" class="form-group" ng-class="{'has-error': measurement.error.api || (ResultsField.$dirty && ResultsField.$invalid)}">
              <label for="measurement-project">µg/m³</label>
              <span class="help-block text-center" ng-if="ResultsField.$dirty && ResultsField.$error.required">Please enter µg/m³ for this measurement in the field below</span>
              <span class="help-block text-center" ng-if="ResultsField.$error.number">µg/m³ must be a valid number</span>
              <span class="help-block text-center" ng-if="ResultsField.$error.min">µg/m³ can only be 0 or greater</span>
              <input type="number" min="0" id="measurement-results" class="form-control" ng-model="measurement.properties.results" ng-disabled="viewport.calling" required />
            </div>

            <div ng-form="ProjectField" class="form-group" ng-class="{'has-error': measurement.error.api || (ProjectField.$dirty && ProjectField.$invalid)}">
              <label for="measurement-project">Project</label>
              <span class="help-block text-center" ng-if="ProjectField.$dirty && ProjectField.$error.required">Please choose a project from the options below</span>
              <select id="measurement-project" class="form-control" ng-model="measurement.project" ng-options="project.id as project.name for project in data.projects" ng-disabled="viewport.calling" required>
                <option value=""></option>
              </select>
            </div>
          </div>

          <hr ng-show="measurement.addResults || !measurement.submitted" />

          <p class="text-right">
            <span ng-hide="measurement.addResults || measurement.submitted">
              <button type="button" class="btn btn-danger" ng-hide="measurement.addResults" ng-click="remove(measurement)" ng-disabled="viewport.calling">Remove</button>
              <button type="button" class="btn btn-primary" ng-hide="measurement.finished" ng-click="finish(measurement)" ng-disabled="viewport.calling">Finish now</button>
              <button type="button" class="btn btn-success" ng-show="measurement.finished" ng-click="addResults(measurement)" ng-disabled="viewport.calling">Add results</button>
            </span>

            <span ng-show="measurement.addResults && !measurement.submitted">
              <button type="button" class="btn btn-default" ng-show="measurement.addResults" ng-click="measurement.addResults = false" ng-disabled="viewport.calling">Cancel</button>
              <button type="button" class="btn btn-primary" ng-show="measurement.finished" ng-click="submit(measurement)" ng-disabled="viewport.calling">Submit measurement</button>
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-body">
          <p>Deleting a point removes all current measurements too. However, it does not remove finished and submitted to projects measurements.</p>
          <p>This action cannot be undone.</p>
          <p class="text-right"><button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="viewport.calling">Delete this point</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
