<div ng-show="data.point">
  <button type="button" class="btn btn-sm btn-default" ng-click="state.redirect('points')">&#8592; Back to points</button>

  <h3>{{ data.point.name }}</h3>

  <div id="map"></div>

  <div class="row">
    <div class="col-sm-5" ng-show="data.point.properties.height || data.point.properties.distance || data.point.properties.characteristics">
      <div ng-show="data.point.properties.height">
        <label>Height from ground</label>
        <p>{{ data.point.properties.height }}m</p>
      </div>

      <div ng-show="data.point.properties.distance">
        <label>Distance from road</label>
        <p>{{ data.point.properties.distance }}m</p>
      </div>

      <div ng-show="data.point.properties.characteristics">
        <label>Site characteristics</label>
        <p ng-bind-html="data.point.properties.characteristics | newline"></p>
      </div>
    </div>

    <hr class="visible-xs" />

    <div class="col-sm-12" ng-class="{'col-sm-7': data.point.properties.height || data.point.properties.distance || data.point.properties.characteristics}">
      <h4>Measurements</h4>

      <form role="form" id="form-measurement-add" ng-submit="start()" novalidate="novalidate">
        <div ng-form="formGroup.form">
          <div ng-form="BarcodeField" class="form-group" ng-class="{'has-error': measurement.error.api || (BarcodeField.$dirty && BarcodeField.$invalid)}">
            <label for="form-measurement-barcode">Barcode</label>
            <span class="help-block text-center" ng-if="BarcodeField.$dirty && BarcodeField.$error.required">Please enter the barcode of a diffusion tube in the field below</span>
            <span class="help-block text-center" ng-if="BarcodeField.$error.number || BarcodeField.$error.min">Barcode must be a valid number</span>

            <div class="input-group">
              <input type="number" min="0" id="form-measurement-barcode" class="form-control" ng-model="measurement.barcode" ng-disabled="viewport.calling" required />

              <span class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-disabled="viewport.calling">Start</button>
              </span>
            </div>
          </div>
        </div>
      </form>

      <p class="lead text-center" ng-hide="measurements.length">No measurements have been added so far</p>

      <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="measurement in measurements = (data.point.measurements|active) track by $index">
          <h5 class="list-group-item-heading">{{ measurement.barcode }}</h5>
          <span class="text-warning" ng-show="measurement.id.indexOf('x') > -1 || measurement.updated">Measurement has not been synced yet</span>

          <span class="list-group-item-text help-block">Started <time datetime="{{ measurement.started }}" am-time-ago="measurement.started"></time></span>
          <span ng-init="measurement.expires = (measurement.started | amAdd : '30' : 'days')"></span>
          <span class="list-group-item-text help-block">
            <span ng-show="(measurement.expires|amDifference : null : 'seconds') < 0">Should have finished</span>
            <span ng-show="(measurement.expires|amDifference : null : 'seconds') >= 0">Should finish</span>
            <time datetime="{{ measurement.expires }}" am-time-ago="measurement.expires"></time>
          </span>

          <p>
            <div role="group" class="btn-group pull-right">
              <button type="button" class="btn btn-danger" ng-click="remove(measurement)">Remove</button>
              <button type="button" class="btn btn-primary" ng-click="finish(measurement)">Finish now</button>
            </div>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-body">
          <p>Deleting a point removes all current measurements too. However, it does not remove finished measurements that have been converted to contributions.</p>
          <p>This action cannot be undone.</p>
          <p class="text-right"><button type="button" class="btn btn-danger" ng-click="delete()">Delete this point</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
