<h3>Add new location</h3>

<div id="map" ng-hide="viewport.offline"></div>

<p class="lead text-center">You can adjust location by moving the map.</p>

<form role="form" id="form-point" ng-submit="add()" novalidate="novalidate">
  <div ng-form="formGroup.form">
    <div ng-form="NameField" class="form-group" ng-class="{'has-error': point.error.api || (NameField.$dirty && NameField.$invalid)}">
      <label for="form-point-name">Name of the location</label>
      <span class="help-block text-center" ng-if="NameField.$dirty && NameField.$error.required">Please choose and enter name for this location in the field below</span>
      <input type="text" id="form-point-name" class="form-control" ng-model="point.name" ng-disabled="viewport.calling" required />
    </div>

    <div ng-form="HeightField" class="form-group" ng-class="{'has-error': point.error.api || (HeightField.$dirty && HeightField.$invalid)}">
      <label for="form-point-height">Height from ground (in meters)</label>
      <span class="help-block text-center" ng-if="HeightField.$error.number">Height must be a valid number</span>
      <span class="help-block text-center" ng-if="HeightField.$error.min">Height can only be 0 or greater</span>
      <input type="number" min="0" id="form-point-height" class="form-control" ng-model="point.height" ng-disabled="viewport.calling" />
    </div>

    <div ng-form="DistanceField" class="form-group" ng-class="{'has-error': point.error.api || (DistanceField.$dirty && DistanceField.$invalid)}">
      <label for="form-point-distance">Distance from road (in meters)</label>
      <span class="help-block text-center" ng-if="DistanceField.$error.number">Distance must be a valid number</span>
      <span class="help-block text-center" ng-if="DistanceField.$error.min">Distance can only be 0 or greater</span>
      <input type="number" min="0" id="form-point-distance" class="form-control" ng-model="point.distance" ng-disabled="viewport.calling" />
    </div>

    <div class="form-group" ng-class="{'has-error': point.error.api}">
      <label for="form-point-characteristics">Site characteristics</label>
      <textarea id="form-point-characteristics" class="form-control" rows="4" ng-model="point.characteristics" ng-disabled="viewport.calling"></textarea>
    </div>

    <p class="text-center">
      <button type="button" class="btn btn-default" ng-click="state.redirect('points')" ng-disabled="viewport.calling">Cancel</button>
      <button type="submit" class="btn btn-primary" ng-disabled="viewport.calling">Add location</button>
    </p>
  </div>
</form>
