<div ng-show="viewport.online" ng-swipe-right="state.redirect('login')">
  <p class="lead text-center">Register to start your measurements.</p>

  <div class="row">
    <form role="form" id="form-registration" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" ng-submit="register()" novalidate="novalidate">
      <div class="form-group" ng-class="{'has-error': registration.error.api || registration.error.email}">
        <label for="form-registration-email">Email address</label>
        <span class="help-block text-center" ng-if="registration.error.email">Please enter a valid email address in the field below</span>
        <input type="email" id="form-registration-email" class="form-control" ng-model="registration.email" ng-disabled="viewport.calling" />
      </div>

      <div class="form-group" ng-class="{'has-error': registration.error.displayName}">
        <label for="form-registration-displayname">Display name</label>
        <span class="help-block text-center" ng-if="registration.error.displayName">Please enter a chosen display name in the field below</span>
        <input type="text" id="form-registration-displayname" class="form-control" ng-model="registration.displayName" ng-disabled="viewport.calling" />
      </div>

      <div class="form-group" ng-class="{'has-error': registration.error.password1 || registration.error.passwordTooShort || registration.error.passwordsDoNotMatch}">
        <label for="form-registration-password1">Password</label>
        <span class="help-block text-center" ng-if="registration.error.password1">Please enter a chosen password in the field below</span>
        <span class="help-block text-center" ng-if="registration.error.passwordTooShort">Password is too short, please enter minimum 6 characters</span>
        <span class="help-block text-center" ng-if="registration.error.passwordsDoNotMatch">Passwords do not match</span>
        <input type="password" id="form-registration-password1" class="form-control" ng-model="registration.password1" ng-disabled="viewport.calling" />
      </div>

      <div class="form-group" ng-class="{'has-error': registration.error.password2 || registration.error.passwordTooShort || registration.error.passwordsDoNotMatch}">
        <label for="form-registration-password2">Repeat password</label>
        <span class="help-block text-center" ng-if="registration.error.password2">Please repeat a chosen password in the field below</span>
        <input type="password" id="form-registration-password2" class="form-control" ng-model="registration.password2" ng-disabled="viewport.calling" />
      </div>

      <p class="text-center">
        <button type="submit" class="btn btn-primary" ng-disabled="viewport.calling">Register</button>
      </p>
    </form>
  </div>

  <hr />

  <p class="text-center">Already registered? <button type="button" class="btn btn-sm btn-link" ng-click="state.redirect('login')" ng-disabled="viewport.calling">Log in!</button></p>
</div>
