<!DOCTYPE html>

<html ng-app="AQ" ng-controller="MainController">
  <head>
    <title ng-bind="viewport.title"></title>
    <meta charset="UTF-8" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="stylesheets/vendor.css?v=@@version" />
    <link rel="stylesheet" href="stylesheets/app.css?v=@@version" />
  </head>

  <body>
    <div class="full-screen cloak" ng-show="!viewport.ready || viewport.calling">
      <div class="full-screen-container">
        <div class="full-screen-content">
          <img src="images/loader.gif" />
        </div>
      </div>
    </div>

    <div class="full-screen message" ng-show="viewport.ready && viewport.message">
      <div class="full-screen-container">
        <div class="full-screen-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="well">
                  <p class="lead text-center">{{ viewport.message }}</p>
                  <p class="text-center"><button type="button" class="btn btn-default" ng-click="viewport.message = null">Close</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content" ng-show="viewport.ready">
      <div class="container">
        <div class="row navbar" ng-show="data.authentication">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix">
            <button type="button" class="btn btn-default pull-left" ng-hide="viewport.history.currentState == 'points'" ng-click="state.redirect('points')" ng-disabled="viewport.calling">&#8592; Back to points</button>
            <button type="button" class="btn btn-default pull-right" ng-click="state.redirect('logout')" ng-disabled="viewport.calling">Log out</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div role="alert" class="alert alert-warning" ng-show="viewport.offline">
              <p class="text-center">
                <span ng-hide="data.authentication">It seems like you're offline. Unfortunately, Air Quality requires a user to be logged in before using it in offline mode.</span>
                <span ng-show="data.authentication">It seems like you're offline. Don't worry, you can still use cashed data to add points and measurements. Please sync your data when you're online.</span>
              </p>
            </div>

            <div role="alert" class="alert alert-info" ng-show="viewport.unsynced">
              <p class="text-center">You have unsynced data that has been stored locally. Please sync it manually, otherwise data might be lost.</p>
              <p class="text-center" ng-hide="viewport.offline"><button type="button" class="btn btn-info" ng-click="sync()" ng-disabled="viewport.calling">Sync all data</button></p>
            </div>

            <div ui-view="content"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="scripts/vendor.js?v=@@version"></script>
    <script src="scripts/templates.js?v=@@version"></script>
    <script src="scripts/app.js?v=@@version"></script>
  </body>
</html>
